<div class="panel panel-default template-animation" 
 ng-click="$ctrl.showDetails();" 
 ui-on-drop="$ctrl.onDropOverTier($event, $data);" 
 drop-channel="container, port">
  <div class="panel-heading">
    <h4 class="panel-title">{{$ctrl.tierIndex}}   {{$ctrl.tier.name}}</h4>
  </div>
  <div class="panel-body">
    <!-- repeat containers -->
    <container data="container" 
      class="fade"
      ng-repeat="container in $ctrl.tier.containers">
    </container>
    
    <!-- repeat ports -->
    <port data="port" 
      class="fade"
      type="{{port.type}}"
      data="port"
      ng-repeat="port in $ctrl.tier.ports">
    </port>
  </div>
</div>

<right class="animate-show"></right>