<div class="text-center" connector draw="{{$ctrl.tier.ports.length > 0}}">
  <div class="panel panel-default template-animation tier-wrapper bounce-in-animation animated"
    ng-click="$ctrl.showDetails();" ui-on-drop="$ctrl.onDropOverTier($event, $data);"
    drop-channel="container, port">
    <div class="tier-badge">{{$ctrl.tierIndex}}</div>
    <div class="panel-heading">
      <h4 class="panel-title">{{$ctrl.tier.name}}</h4>
    </div>
    <div class="panel-body">
      <div class="no-container" ng-if="$ctrl.tier.containers.length == 0 ">No container added</div>
      <div class="tier-connector" ng-if="$ctrl.tier.containers.length || $ctrl.tier.ports.length"></div>
      <!-- repeat containers -->
      <container data="container" ng-repeat="container in $ctrl.tier.containers">
      </container>
    </div>
    <!-- repeat ports -->
    <port data="port" type="{{port.type}}" data="port" ng-repeat="port in $ctrl.tier.ports">
    </port>
  </div>
</div>

