<div class="right-panel">

  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a href="#info" aria-controls="home" role="tab" data-toggle="tab">Information</a></li>
    <li role="presentation"><a href="#yaml" aria-controls="profile" role="tab" data-toggle="tab">YAML</a></li>
  </ul>

  <!-- Tab panes -->
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="info">Information</div>
    <div role="tabpanel" class="tab-pane" id="yaml">YAML</div>
  </div>

</div>