<div class="panel panel-default" ui-on-drop="$ctrl.onDropOverContainer($event, $data)"
  drop-channel="image, volume, port">
  <div class="panel-body">
    <div class="row">
      <div class="col-md-9 clearfix">
        <div class="img-container" ng-src="$ctrl.container.image">Container Image 1</div>
      </div>
      <div class="col-md-3" ng-click="$ctrl.showVolumeDetails($event);">
        <div class="volume-wrapper">
          <volume data="volume" ng-repeat="volume in $ctrl.container.volumes">
          </volume>
        </div>
        <div class="vol-icon-shadow"></div>
      </div>
    </div>
    <div class="clearfix"></div>
    <div class="row">
      <div class="col-md-12 clearfix">
        <port type="{{port.type}}" data="port" ng-repeat="port in $ctrl.container.ports"
          ng-click="$ctrl.showPortDetails($event)">
        </port>
        <!--div class="well" ng-if="$ctrl.container.ports.length == 0">
          No ports found
        </div-->
      </div>
    </div>
  </div>
</div>