<div class="panel panel-default" ng-click="$ctrl.showDetails($event);" ui-on-drop="$ctrl.onDropOverContainer($event, $data)"
  drop-channel="image, volume, port">
  <div class="panel-body">

    <div class="row">
      <div class="col-md-9">
        <div class="well" ng-if="!$ctrl.container.image">No image found</div>
        <img class="img img-circle" ng-if="$ctrl.container.image" ng-src="$ctrl.container.image"
        />
      </div>
      <div class="col-md-3">
        <port class="well" data="volume" ng-repeat="volume in $ctrl.container.volumes">
        </port>
        <div class="well" ng-if="$ctrl.container.volumes.length == 0">
          No volume found
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <port class="well" type="{{port.type}}" data="port" ng-repeat="port in $ctrl.container.ports">
        </port>
        <div class="well" ng-if="$ctrl.container.ports.length == 0">
          No ports found
        </div>
      </div>
    </div>
  </div>
</div>