<div class="left-panel col-md-12 col-lg-12">
  <div class="row">
    <div class="col-md-12 col-lg-12 panel" ui-draggable="true" drag="'tier'" drag-channel="tier">
      <div class="add-tier-icon"></div>
      <label>Add Tier</label>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 col-lg-6 panel" ui-draggable="true" drag="'container'" drag-channel="container">
      <div class="container-icon"></div>
      <label>Container</label>
    </div>
    <div class="col-md-6 col-lg-6 panel" ui-draggable="true" drag="'volume'" drag-channel="volume">
      <div class="volume-icon"></div>
      <label>Volume</label>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 col-lg-12 panel">
      <div class="virtual-machine-icon"></div>
      <label>Virtual Machine</label>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 col-lg-12 panel">
      <div class="col-md-12 col-lg-12 panel-header">
        <label>Ports</label>
      </div>
      <div class="col-md-6 col-lg-6 sub-panel" ui-draggable="true" drag="'extPort'" drag-channel="port">
        <div class="extservice-icon"></div>
        <label>Extservice</label>
      </div>
      <div class="col-md-6 col-lg-6 sub-panel" ui-draggable="true" drag="'intPort'" drag-channel="port">
        <div class="internal-icon"></div>
        <label>Internal</label>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 col-lg-12 panel">
      <div class="col-md-12 col-lg-12 panel-header">
        <label>Policies</label>
      </div>
      <div class="col-md-12 col-lg-12 no-padding">
        <div class="col-md-6 col-lg-6 sub-panel">
          <div class="data-icon"></div>
          <label>Data</label>
        </div>
        <div class="col-md-6 col-lg-6 sub-panel">
          <div class="performance-icon"></div>
          <label>Performance</label>
        </div>
      </div>
      <div class="col-md-12 col-lg-12 no-padding">
        <div class="col-md-6 col-lg-6 sub-panel">
          <div class="available-icon"></div>
          <label>Available</label>
        </div>
        <div class="col-md-6 col-lg-6 sub-panel">
          <div class="resource-icon"></div>
          <label>Resource</label>
        </div>
      </div>
      <div class="col-md-12 col-lg-12 no-padding">
        <div class="col-md-6 col-lg-6 sub-panel">
          <div class="placement-icon"></div>
          <label>Placement</label>
        </div>
        <div class="col-md-6 col-lg-6 sub-panel">
          <div class="external-icon"></div>
          <label>External Service</label>
        </div>
      </div>
      <div class="col-md-6 col-lg-6 sub-panel">
        <div class="new-icon"></div>
        <label>New</label>
      </div>
    </div>
  </div>
</div>
