<div class="left-panel">
    <div class="row">
        <div class="col-md-12 col-lg-12 panel" droppable element-type="tier">
            Add Tier
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 col-lg-6 panel" droppable element-type="container">
            Container
        </div>
        <div class="col-md-6 col-lg-6 panel" droppable element-type="volume">
            Volume
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-lg-12 panel">
            Virtual Machine
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 col-lg-6 panel">
            Extservice
        </div>
        <div class="col-md-6 col-lg-6 panel">
            Internal
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 col-lg-6 panel">
            Data
        </div>
        <div class="col-md-6 col-lg-6 panel">
            Performance
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 col-lg-6 panel">
            Available
        </div>
        <div class="col-md-6 col-lg-6 panel">
            Resource
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 col-lg-6 panel">
            Placement
        </div>
        <div class="col-md-6 col-lg-6 panel">
            External
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 col-lg-6 panel">
            New
        </div>
    </div>
</div>
