.marTop10{
  margin-top: 10px;
}
.marTop20{
  margin-top: 20px;
}
.marTop30{
  margin-top: 30px;
}

.box-dashed{
  background-color: #ededed;
  border: 2px dashed #cccccc;
}
.box-dashed.over{
  border:3px dashed #ff0000;
  box-shadow: 0 0 20px rgba(255, 0, 0, 0.5);
  transition: 0.75s all;
  background-color: #cccccc;
}
.tier-type{
  min-width: 150px;
  min-height: 200px;
  border: 2px solid #cccccc;
  background-color: #ffffff;
  display: inline-block;
}
.container-type{
  width: 120px;
  height: 80px;
  border-radius: 10px;
  border: 2px solid #cccccc;
  background-color: #ff0000;
  display: inline-block;
}

.volume-type{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 2px solid #cccccc;
  background-color: #00ff00;
  display: inline-block;
}

/* Navigation css */
nav{
  padding-top:10px ;
}
nav a{
  text-decoration: none;
}
nav a.active{
  color: #000;
  text-decoration: underline;
}

/* Left panel css */
.left-panel .panel{
  border:1px solid gray;
  text-align: center;
  padding: 20px;
}

/*Middle section css*/
.middle-section{
  border: 1px solid gray;
  min-height: 635px;
}
