body {
  background-image: url('/resources/images/bg.png');
  background-size: 100% 100%;
}

header {
  background-image: url('/resources/images/header.png');
  background-size: 100% 100%;
  height: 56px;
}

.app-wrapper {
  padding: 20px;
}

.no-padding {
  padding: 0;
}

.no-right-padding {
  padding-right: 0;
}

.marTop10 {
  margin-top: 10px;
}

.marTop20 {
  margin-top: 20px;
}

.marTop30 {
  margin-top: 30px;
}

.box-dashed {
  background-color: #ededed;
  border: 2px dashed #cccccc;
}

.box-dashed.over {
  border: 3px dashed #ff0000;
  box-shadow: 0 0 20px rgba(255, 0, 0, 0.5);
  transition: 0.75s all;
  background-color: #cccccc;
}

.tier-type {
  min-width: 150px;
  min-height: 200px;
  border: 2px solid #cccccc;
  background-color: #ffffff;
  display: inline-block;
}

.container-type {
  width: 120px;
  height: 80px;
  border-radius: 10px;
  border: 2px solid #cccccc;
  background-color: #ff0000;
  display: inline-block;
}

.volume-type {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 2px solid #cccccc;
  background-color: #00ff00;
  display: inline-block;
}


/* Navigation css */

nav {
  padding-top: 10px;
}

nav a {
  text-decoration: none;
}

nav a.active {
  color: #000;
  text-decoration: underline;
}


/* Left panel css */

.left-panel .panel {
  border: 1px solid #142652;
  text-align: center;
  padding: 8px 0;
  background: rgba(255, 255, 255, 0.1);
  margin-bottom: 0px;
}

.left-panel .panel .sub-panel {
  text-align: center;
  background: transparent;
  padding: 8px 0;
}

.left-panel .panel .panel-header {
  text-align: left;
}

.left-panel .panel .panel-header label {
  font-size: 14px;
  padding: 0;
  padding-bottom: 5px;
}

.left-panel .panel label {
  color: #fff;
  font-size: 10px;
  font-weight: normal;
  margin-bottom: 0;
}

.left-panel .panel .add-tier-icon {
  width: 19px;
  height: 20px;
  background-image: url('/resources/images/add-tier.png');
  background-size: 100% 100%;
  margin: 0 auto;
}

.left-panel .panel .container-icon {
  width: 16px;
  height: 17px;
  background-image: url('/resources/images/container-icon.png');
  background-size: 100% 100%;
  margin: 0 auto;
}

.left-panel .panel .volume-icon {
  width: 16px;
  height: 17px;
  background-image: url('/resources/images/volume.png');
  background-size: 100% 100%;
  margin: 0 auto;
}

.left-panel .panel .virtual-machine-icon {
  width: 22px;
  height: 19px;
  background-image: url('/resources/images/virtual-machine.png');
  background-size: 100% 100%;
  margin: 0 auto;
}

.left-panel .panel .extservice-icon {
  width: 17px;
  height: 14px;
  background-image: url('/resources/images/extservice.png');
  background-size: 100% 100%;
  margin: 0 auto;
}

.left-panel .panel .internal-icon {
  width: 17px;
  height: 14px;
  background-image: url('/resources/images/internal.png');
  background-size: 100% 100%;
  margin: 0 auto;
}

.left-panel .panel .data-icon {
  width: 15px;
  height: 20px;
  background-image: url('/resources/images/data.png');
  background-size: 100% 100%;
  margin: 0 auto;
}

.left-panel .panel .performance-icon {
  width: 17px;
  height: 16px;
  background-image: url('/resources/images/performance.png');
  background-size: 100% 100%;
  margin: 0 auto;
}

.left-panel .panel .available-icon {
  width: 11px;
  height: 20px;
  background-image: url('/resources/images/available.png');
  background-size: 100% 100%;
  margin: 0 auto;
}

.left-panel .panel .resource-icon {
  width: 13px;
  height: 21px;
  background-image: url('/resources/images/resource.png');
  background-size: 100% 100%;
  margin: 0 auto;
}

.left-panel .panel .placement-icon {
  width: 14px;
  height: 18px;
  background-image: url('/resources/images/placement.png');
  background-size: 100% 100%;
  margin: 0 auto;
}

.left-panel .panel .external-icon {
  width: 24px;
  height: 16px;
  background-image: url('/resources/images/external-policies.png');
  background-size: 100% 100%;
  margin: 0 auto;
}

.left-panel .panel .new-icon {
  width: 16px;
  height: 16px;
  background-image: url('/resources/images/new-policies.png');
  background-size: 100% 100%;
  margin: 0 auto;
}


/*Middle section css*/

.middle-section {
  padding-right: 0;
  min-height: 545px;
  background: #fff;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.middle-section .network-block {
  background: #f8d6da;
  padding: 15px;
  border-radius: 5px;
  text-align: center;
  font-size: 14px;
  color: #000;
  margin-bottom: 20px;
}

.middle-section .tier-wrapper {
  background: #e3effa;
  border-radius: 5px;
  border: 0;
  min-width: 275px;
  margin-bottom: 50px;
}

.middle-section .tier-wrapper .panel-body .panel {
  background: none;
  box-shadow: none;
  border: 0;
}

.middle-section .tier-wrapper .panel-heading {
  background: none;
  border: 0;
  text-align: center;
  margin-top: -30px;
}

.middle-section .tier-wrapper .panel-heading .panel-title {
  color: #666c71;
}

.middle-section .tier-wrapper .panel-body .volume-wrapper {
  width: 41px;
  height: 46px;
}
.tier-wrapper .panel-body .volume{
  display: inline-block;
  top:0;
  position:relative;
  width: 40px;
}
.tier-wrapper .panel-body .volPosLeft{
  left:4px;
}
.tier-wrapper .panel-body .volume-wrapper .volume-icon {
  width: 20px;
  height: 15px;
  background-image: url('/resources/images/volume-icon.png');
  background-size: 100% 100%;
  position: absolute;
  left: 3px;
}

.tier-wrapper .panel-body .vol-icon-shadow {
  width: 44px;
  height: 17px;
  background-image: url(/resources/images/vol-shadow.png);
  background-size: 100% 100%;
  position: absolute;
  left: -15px;
  top: 36px;
}

.tier-wrapper .panel-body .volume-wrapper volume:nth-child(1) .volume-icon {
  bottom: 0;
  z-index: 1;
}

.tier-wrapper .panel-body .volume-wrapper volume:nth-child(2) .volume-icon {
  bottom: 7px;
  z-index: 2;
}

.tier-wrapper .panel-body .volume-wrapper volume:nth-child(3) .volume-icon {
  bottom: 14px;
  z-index: 3;
}

.tier-wrapper .panel-body .volume-wrapper volume:nth-child(4) .volume-icon {
  bottom: 21px;
  z-index: 4;
}

.tier-wrapper .panel-body .volume-wrapper volume:nth-child(5) .volume-icon {
  bottom: 28px;
  z-index: 5;
}

.tier-wrapper .panel-body .volume-wrapper volume:nth-child(6) .volume-icon {
  bottom: 35px;
  z-index: 5;
}

.tier-wrapper .panel-body .volume-wrapper volume:nth-child(7) .volume-icon {
  bottom: 42px;
  z-index: 5;
}

.tier-wrapper .panel-body .volume-wrapper volume:nth-child(8) .volume-icon {
  bottom: 49px;
  z-index: 5;
}

.tier-wrapper .external-port-icon {
  width: 35px;
  height: 27px;
  background-image: url('/resources/images/ext-port.png');
  background-size: 100% 100%;
  float: left;
  margin-left: 10px;
  margin-top: -10px;
}

.tier-wrapper .internal-port-icon {
  width: 35px;
  height: 27px;
  background-image: url('/resources/images/int-port.png');
  background-size: 100% 100%;
  float: left;
  margin-left: 10px;
  margin-top: -10px;
}

.tier-badge {
  position: relative;
  top: -5px;
  left: -5px;
  font-size: 14px;
  background: #e3effa;
  color: #666c71;
  width: 45px;
  height: 45px;
  text-align: center;
  line-height: 35px;
  border-radius: 50%;
  /* box-shadow: 0 0 1px #333; */
  border: 5px solid #fff;
}

.middle-section .tier-wrapper .panel-body .img-container {
  height: 55px;
  background-color: #a0cae6;
  color: #fff;
  padding: 12px;
  display: flex;
  align-items: center;
  border-radius: 5px;
  font-size: 12px;
}

.middle-section .tier-wrapper .panel-body .tier-connector {
  background-color: #e3effa;
  width: 20px;
  height: 45px;
  position: absolute;
  top: 50%;
  border-radius: 10px;
}

.middle-section tier:nth-child(odd) .panel-body .tier-connector {
  right: -10px;
}

.middle-section tier:nth-child(even) .panel-body .tier-connector {
  left: -10px;
}


/* Animation of ngAnimate */

.template-animation {
  transition: all linear 0.5s;
}

.right-panel {
  height: 100%;
  background-color: #f3f3f3;
  min-height: 200px;
  border-left: 1px solid #c5c5c5;
  max-height: 635px;
  overflow: auto;
}

.right-panel .tab-content {
  padding: 20px 30px;
}

.right-panel .tab-content .tab-pane {
  padding: 0 10px;
}

.right-panel .tab-content .tab-pane .tier-detail-heading,
.tab-pane .volume-heading,
.tab-pane .container-info-heading {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.right-panel .tab-content .tab-pane .tier-detail-heading label,
.tab-pane .volume-heading label,
.tab-pane .container-info-heading label {
  font-size: 16px;
  color: #000;
  margin: 0;
  padding-bottom: 10px;
}

.right-panel .tab-content .tab-pane .delete-icon {
  width: 14px;
  height: 15px;
  background-image: url(/images/delete-icon.png);
  background-size: 100% 100%;
  cursor: pointer;
}

.right-panel .tab-content .tab-pane .form-group label {
  font-size: 14px;
  font-weight: normal;
  color: #707070;
}

.right-panel .tab-content .tab-pane .form-group input[type="checkbox"] {
  width: 18px;
  height: 15px;
}

.right-panel ul.nav.nav-tabs,
ul.nav.nav-tabs a {
  border: 0;
  color: #000;
}

.right-panel ul.nav.nav-tabs li {
  width: 50%;
  text-align: center;
}

.right-panel ul.nav.nav-tabs li > a {
  background-color: #d0d4dc;
}

.right-panel ul.nav.nav-tabs li.active > a {
  background-color: #f3f3f3;
  color: #000;
  font-size: 14px;
  border-radius: 0;
}

.right-panel ul.nav.nav-tabs li.active > a:hover,
.right-panel ul.nav.nav-tabs li.active > a:focus {
  border-radius: 0;
  border: 0;
}

.animate-show {
  -moz-transition: all linear 1s;
  -o-transition: all linear 1s;
  transition: all linear 1s;
  display: block!important;
  -webkit-transition: all linear 1s;
  transition: all linear 1s;
  opacity: 1;
}

.animate-show.ng-hide-add,
.animate-show.ng-hide-remove {
  display: block!important;
}

.animate-show.ng-hide {
  opacity: 0;
}

.tier {
  transition: 1s linear all;
  -webkit-transition: all linear 1s;
}

.tier.ng-enter {
  opacity: 0;
}

.tier.ng-enter.ng-enter-active {
  opacity: 1;
}

.tier.ng-leave {
  opacity: 1;
}

.tier.ng-leave.ng-leave-active {
  opacity: 0;
}


/**animation**/

@keyframes bounceIn {
  from,
  20%,
  40%,
  60%,
  80%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }
  0% {
    opacity: 0;
    -webkit-transform: scale3d(.3, .3, .3);
    transform: scale3d(.3, .3, .3);
  }
  20% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1);
    transform: scale3d(1.1, 1.1, 1.1);
  }
  40% {
    -webkit-transform: scale3d(.9, .9, .9);
    transform: scale3d(.9, .9, .9);
  }
  60% {
    opacity: 1;
    -webkit-transform: scale3d(1.03, 1.03, 1.03);
    transform: scale3d(1.03, 1.03, 1.03);
  }
  80% {
    -webkit-transform: scale3d(.97, .97, .97);
    transform: scale3d(.97, .97, .97);
  }
  to {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

@keyframes bounceInDown {
  from,
  60%,
  75%,
  90%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100px, 0);
    transform: translate3d(0, -100px, 0);
  }
  60% {
    opacity: 1;
    -webkit-transform: translate3d(0, 0px, 0);
    transform: translate3d(0, 0px, 0);
  }
  75% {
    -webkit-transform: translate3d(0, -10px, 0);
    transform: translate3d(0, -10px, 0);
  }
  90% {
    -webkit-transform: translate3d(0, 5px, 0);
    transform: translate3d(0, 5px, 0);
  }
  to {
    -webkit-transform: none;
    transform: none;
  }
}

.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.bounce-in-animation {
  -webkit-animation-name: bounceIn;
  animation-name: bounceIn;
}

.bounce-down-animation {
  -webkit-animation-name: bounceInDown;
  animation-name: bounceInDown;
}
