<div class="container-fluid app-wrapper">
  <div class="left-panel-wrapper">
    <left></left>
  </div>
  <div class="middle-section no-right-padding" drag-hover-class="animate-on-hover"
    ui-on-drop="$ctrl.onDropOverMainContent($event, $data);" drop-channel="tier">
    <div class="network-wrapper col-md-12 col-lg-12">
      <div class="network-block block-orange bounce-in-animation animated">Network 1</div>
      <div class="network-block block-green bounce-in-animation animated">Network 2</div>
      <div class="network-block block-blue bounce-in-animation animated">Network 3</div>
    </div>
    <div class="tier-vm-render-area col-md-12 col-lg-12">
      <div class="add-tier-container" ng-if="!($ctrl.tiers.length || $ctrl.vms.length)">+ Add Tier/VM</div>
      <!-- repeat tiers -->
      <tier data="tier" tier-index="{{$index + 1}}" ng-repeat="tier in $ctrl.tiers track by tier.id"
        class="bounce-in-animation animated"></tier>
      <!-- repeat vms -->
      <vm data="vm" vm-index="{{$index + 1}}" ng-repeat="vm in $ctrl.vms track by vm.id"
        class="bounce-in-animation animated"></vm>
    </div>
    <svg class="connector" width="0" height="0"></svg>
  </div>
  <div class="right-panel-wrapper no-padding">
    <right class="animate-show"></right>
  </div>
</div>
